.calc {
    width: 500px;
}
.button {
height: 50px;
/* width: 50px; */
margin: 0;
border: 1px solid black;
padding: 5px;
background-color: green
}
.screen {
height: 50px;
/* width: 250px; */
background-color: gray;
border: 1px solid black;
}
.row {
display: flex;
}
/* .second-row {
display: flex;
}
.third-row {
display: flex;
}
.fourth-row {
display: flex;
}
.fifth-row {
display: flex;
} */